body {margin: 0px;}
.sec1 {height:3912px; width:1000px; margin-left:260.4px; }
.sec2 {height:88px; width:1000px; }
.Fit-studio {margin-top: 23px; }
h3 {margin-top:-55px; margin-left: 680px; font-weight: 400; color:gray; }
.h1 {font-size: 20px; margin-left: 830px; margin-top: -10px;}
.h11 {font-family: "Oswald", sans-serif;}
.p {text-decoration: none;}
.img1 {width:1000px; margin-top:50px;}
video {width:1000px;}
.sec4 {background-color:rgb(59, 201, 217); width:100%; height:280px;}
.Fit {margin-top:125px; margin-left: 690px;}